<div class="container" >
   
    <div class="modal fade" [id]="idModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{titulo}}</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="handleCloseModal()" ></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <ng-content />
            </div>
      
            <!-- Modal footer -->
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="handleCloseModal()" data-bs-dismiss="modal" >Close</button>
            </div> -->
      
          </div>
        </div>
      </div>
      
</div>